<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Click-N-Share App</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to the Click-N-Share App!</h1>
            <p>Please make an appropriate selection</p>
            <a type="button" class="btn-login" href="/login"><span class="glyphicon glyphicon-flash"></span> Log In</a>
            <a type="button" class="btn-signup" href="/signup"><span class="glyphicon glyphicon-flash"></span> Sign Up</a>
            <!--<button type="button" href="login">Log In</button>    
            <button type="button">Sign Up</button> -->
        </div>
    </div>
</body>

</html>