<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Note</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <p>New Reminder</p>
      <form action="/home" method="post">
        <input name="remDate" type="date" class="ghost-input" placeholder="Enter reminder date" required>
        <input name="remDesc" type="text" class="ghost-input" placeholder="Enter reminder description" required>
        <input type="submit" class="ghost-button" value="Add Reminder">
      </form>
  </body>
</html>